* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1e1d1d;
    color: #c5c2c2;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 90%;
    margin:auto;
}

.flex {
    display: flex;
    align-items: center;
}
.hover-links {
    color: #c5c2c2;
}

.hover-links:hover {
    color: aliceblue;
    transition: .2s ease-in;
}


.nav-bar {
    justify-content: space-between;
    background: #8989890f;
    margin-top: 1rem;
}

.nav-bar .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-bar .nav-bar-list {
    list-style-type: none;
    gap: 40px;
    padding-inline: 1rem;
}

.side {
    background: #8989890f;
    padding: 10px;
    border-radius: 10px;
}

.btn1 {
    border: 2px solid #898989;
    padding: 10px 15px;
    margin-left: 4rem;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 10px #8f8e8eba;
}

.btn1:hover {
    border-color: #c5c2c2;
}

.btn2 {
    background: #7b7373;
    padding: 12px 15px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 10px #898989;
}

.btn2:hover {
    background: #e9d9d9ab;
    border: 1px solid #f6756b;
}

.header-sec {
    height: 300px;
    margin-top: 10rem;
    position: relative;
}

.header-sec h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color:#ff00aeb4;
}

.header-sec p {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-block: 1rem;
}

.header-sec .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #c19393;
    padding: 2px;
    border-radius: 5px;
}
.arrow:hover{
    background-color:#c12b34;
}



/* 
.sec{
    background-color: #ffffffea;
    color: #070707;
} */
.r-sec{
    margin: 5rem;
 justify-content: space-between;
}
.img-sec{
    width:40% ;
    /* border: 2px solid red; */
}
.img-sec img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #3e3d45;
}
.text{
    width: 58%;
    height: 250px;
    text-align: center;
    /* border: 2px solid red; */
}
.text h2{
    padding-bottom:20px;
    font-size: 36px;
    color: #fefefedd;
}
.text p{
    padding: 10px 30px ;
    line-height: 1.5;
    /* border: 2px solid red; */
    margin: 1.2rem 0;
}
.text a{
    color: #e9dcdc;
    text-decoration: none;
}
.btn{
    margin-top:5rem;
}


.footer{
    background-color: #151414;
}
.footer-list{
    height: 60px;
    /* border: 2px solid red; */
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}
.foot-items{
    border: 2px solid #302a2a;
    padding: 2px;
    border-radius: 5px;
}
.foot-items:hover{
    border: 2px solid rgba(131, 7, 7, 0.804);
}